<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebAPI-20190521054915.mdf;Initial Catalog=aspnet-WebAPI-20190521054915;Integrated Security=True" providerName="System.Data.SqlClient" />-->
      <add name="DefaultConnection" connectionString="Data Source=ecics-svr-db;Initial Catalog=HDBDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>